<!-- HEADER -->
<div id="headers">
    <!-- Top 영역 -->
    <div id="header-top">
        <div class="center"></div>
        <div class="users">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
        </div>
    </div>
    <!-- //Top 영역 -->
    <!-- MEMU -->
    <div id="header-body">
       <div id="header-contents">
            <div class="logo">
                <img src="/public/images/logo.png" alt="로고이미지">
                <a href="/">채용공고</a>
            </div>
            <hr>
            <div class="menu-contents">
                <a class="menu-item" href="/">채용공고 목록</a>
                <a class="menu-item" href="/create">채용공고 등록</a>
            </div>
       </div>
    </div>
    <!-- //MEMU -->
</div>
<!-- //HEADER -->
