<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/index.css"> 
    <title>채용사이트</title>
</head>
<body>
    <div class="wrap">
       <%- include ('../views/header') %>
        <div class="contents-main">
            <div class="contents-container">
                <div class="contents-title">채용공고 목록</div>
                <div class="contents-group">

                </div>
            </div>
        <%- include ('../views/footer') %>
    </div>
</body>
</html>