<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/index.css"> 
    <title>채용사이트</title>
</head>
<body>
    <div class="wrap">
       <%- include ('../views/header') %>
        <div class="contents-main">
            <div class="contents-container">
                <div class="contents-header">
                    <div class="contents-title">채용공고</div>
                    <input type="text" class="contents-search-box" placeholder="검색"/>
                </div>
                <div class="line"></div>
                <% if (postings != null) { %>
                    <div class="no-data-text">등록된 채용 공고가 없습니다.</div>
                <% } else { %>
                    <div class="contents-item-group">
                        <% for(var data of postings) { %>
                        <div class="contents-item">
                            <div class="contents-item-name">[회사명] 채용포지션</div>
                            <div class="contents-item-country">근무지역: 국가 지역</div>
                            <div class="contents-item-compensation">채용보상금: </div>
                            <div class="contents-item-skill">사용기술: </div>
                        </div>
                        <% } %>  
                    </div>
                <% } %>
            </div>
        <%- include ('../views/footer') %>
    </div>
</body>
<script type="text/javascript">
    
</script>
</html>