<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../views/head') %>
    <link type="text/css" rel="stylesheet" href="/public/css/list_detail.css"> 
    <title>채용사이트 - 상세</title>
</head>
<body>
    <div class="wrap">
       <%- include ('../views/header') %>
        <div class="contents-main">
            <div class="contents-container">
                <div class="contents-title">채용공고</div>
                <div class="line"></div>
            </div>
        <%- include ('../views/footer') %>
    </div>
</body>
<script type="text/javascript">

</script>
</html>